@import url(top-main-style.css);
@import url(middle-main-style.css);
@import url(bottom-main-style.css);

* {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    padding: 70px;
    color: rgb(166, 90, 52);

}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.position {
    height: fit-content;
    text-align: center;
    font-size: 20px;
    padding-bottom: 70px;
    margin: 0px 100px;
}
.background__image {
    padding-top: 40px;
    background-image: url(/assets/orange_cat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h3 {
    text-align: center;
    margin: 15px;
    color: rgb(166, 90, 52);
}
p {
    color: #A3743F;
}
.color__background-section {
    background-color: #FFDFAF;
}